---
---
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
 
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Fira Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: 'Fira Code', monospace;
$primary: #339ca1;

table {
  font-size: small;
}

pre {
  font-family: $family-monospace;
}

nav, section, footer {
  font-family: $family-sans-serif;
}

.navbar-brand {
  font-size: large;
  font-weight: bold;
}

a:any-link {
  color: $primary;
}

// Import Main CSS file from theme
@import "main";